---

---
<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Carson Shook - Projects</title>
        {% include head.html %}
    </head>
    <body id="projects">
		{% include navigation.html %}
		<main>
			<div class="content-wrap">
                <br>
                <a href="/Adium-Theme-Night-Mode/" class="nolinkstyle">
                    <div class="postblock imagepost">
                        <h3>Adium Night Mode</h3>
                        <br>
                        <img src="../img/adiumnightmode.jpg" class="postimage" alt="Adium Night Mode"/>
                        <p>Night Mode is a Retina display ready menu bar icon theme for Adium. It looks great with the dark menu bar theme, and also works when you aren't using dark mode!</p>
                    </div>
                </a>
                <a href="/BetterPonymotes-for-Safari/" class="nolinkstyle">
                    <div class="postblock imagepost">
                        <h3>BetterPonymotes for Safari</h3>
                        <br>
                        <img src="../img/betterponymotesblock.jpg" class="postimage" alt="BetterPonymotes for Safari"/>
                        <p>BetterPonymotes for Safari is a port of the popular emote viewer for reddit. It is designed to run natively on Safari without any additional userscripts or plugins.</p>
                    </div>
                </a>
                <a href="/cursed-breakout" class="nolinkstyle">
                    <div class="postblock imagepost">
                        <h3>Cursed-Breakout</h3>
                        <br>
                        <img src="../img/cursedbreakoutblock.jpg" class="postimage" alt="Cursed-Breakout"/>
                        <p>Cursed-Breakout is the first project that I ever published. It is a simple <i>Breakout</i> clone that was built with C using the <i>ncurses</i> library.</p>
                    </div>
                </a>
                <a href="/StupidSimpleUpdater/" class="nolinkstyle">
                    <div class="postblock imagepost">
                        <h3>StupidSimpleUpdater</h3>
                        <br>
                        <img src="../img/ssupblock.png" class="postimage" alt="StupidSimpleUpdater"/>
                        <p>StupidSimpleUpdater (SSUP) is an easy to use updater for Windows applications that only requires a static web host to manage.</p>
                    </div>
                </a>
                <a href="/Winclipper/" class="nolinkstyle">
                    <div class="postblock imagepost">
                        <h3>Winclipper</h3>
                        <br>
                        <img src="../img/winclipperblock.png" class="postimage" alt="BetterPonymotes for Safari"/>
                        <p>Winclipper is a better clipobard manager for Windows. Store text for later use, and paste it when you need it again. Super fast, and Unicode compliant.</p>
                    </div>
                </a>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>
