---

---
<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Carson Shook - Projects</title>
        {% include head.html %}
    </head>
    <body id="projects">
		{% include navigation.html %} 
		<main>
			<div class="content-wrap">
                <br>
                <a href="/BetterPonymotes-for-Safari/" class="nolinkstyle">
                    <div class="postblock">
                        <h3>BetterPonymotes for Safari</h3>
                        <br>
                        <img src="../img/betterponymotesblock.jpg" class="postimage" alt="BetterPonymotes for Safari"/>
                        <p>BetterPonymotes for Safari is a port of the popular emote viewer for reddit. It is designed to run natively on Safari without any additional userscripts or plugins.</p>
                    </div>
                </a>
                <a href="http://github.com/Carson-Shook/cursed-breakout/releases" class="nolinkstyle">
                    <div class="postblock">
                        <h3>Cursed-Breakout</h3>
                        <br>
                        <img src="../img/cursedbreakoutblock.jpg" class="postimage" alt="Cursed-Breakout"/>
                        <p>Cursed-Breakout is the first project that I ever published. It is a simple <i>Breakout</i> clone that was built with C using the <i>ncurses</i> library.</p>
                    </div>
                </a>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>