---

---
<!DOCTYPE html>
<html>
    <head>
		<!--<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">-->
        <title>Carson Shook</title>
        {% include head.html %}
    </head>
    <body id="contact">
		{% include navigation.html %} 
		<article>
			<div class="content-wrap">
				<h1>Connect with me</h1>
				<h2>This is the place to do it.</h2>
				<h3><a href="https://github.com/carson-shook/">GitHub</a><h3>
					
				<h3><a href="http://www.linkedin.com/pub/carson-shook/82/ba5/411/">LinkedIn</a></h3>
				
				<h3>Phone:</h3>
				<p>918-638-8533</p>

			</div>
        </article>
		{% include footer.html %}
    </body>
</html>