---

---
<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Carson Shook</title>
        {% include head.html %}
    </head>
    <body id="index">
		{% include navigation.html %} 
		<article>
			<div class="content-wrap">
				<h1>Welcome</h1>
				<h2>Please enjoy your stay</h2>
				<p>This is the current project that I'm working on, and others will appear as I work on them.<p>
				
				<div class="centering">
                    <a href="http://github.com/Carson-Shook/cursed-breakout">
                        <img src="img/cursedbreakoutblock.png" id="featuredproject" alt="cursed breakout" title="cursed breakout"/>
                    </a>
                </div>
			</div>
        </article>
		{% include footer.html %}
    </body>
</html>