---

---
<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Carson Shook</title>
        {% include head.html %}
    </head>
    <body id="index">
		{% include navigation.html %} 
		<main>
            <br/>
            <div class="centering">
                <a href="/Adium-Theme-Night-Mode" class="nolinkstyle">
                    <img src="img/adiumnightmode.jpg" class="featuredproject" alt="Adium Night Mode Theme"/>
                </a>

                <a href="/BetterPonymotes-for-Safari" class="nolinkstyle">
                    <img src="img/betterponymotesblock.jpg" class="featuredproject" alt="BetterPonymotes now for Safari"/>
                </a>
            </div>
            <br/>
            <div class="centeringhorizontalouter">
                <div class="centeringhorizontal">
                    <a href="/cursed-breakout" class="nolinkstyle">
                        <img src="img/cursedbreakoutblock.jpg" class="lessfeaturedproject" alt="cursed breakout"/>
                    </a>
                </div>
            </div>
            <br/>
            <div id="latestpost">
                <div class="content-wrap">
                    <div class="centering">
                        <h1>Latest Blog Post</h1>
                    </div>
                    {% for post in site.posts limit:1 %}
                    <a href="{{ post.url }}" class="nolinkstyle">
                        {% if post.image %}
                        <div class="postblock imagepost">
                        {% else %}
                        <div class="postblock">
                        {% endif %}
                        <h2 id="latesttitle">{{ post.title }}</h2>
                        <div class="date">{{ post.date | date: "%B %e, %Y" }}</div>
                        {% if post.image %}
                        <img src={{ post.image }} class="postimage">
                        {% endif %}
                        <p>{{ post.content | strip_html | truncatewords: 80 }}</p>
                    </div></a>
                    {% endfor %}
                </div>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>