---

---
<!DOCTYPE html>
<html>
    <head>
		<!--<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">-->
        <title>Carson Shook</title>
        <link rel="stylesheet" href="style1.css">
    </head>
    <body id="index">
		{% include navigation.html %} 
		<header>
			<div class="content-wrap">
				<img src="http://carson-shook.github.io/img/paperfan_512x512.png" width="250px" height="250px" id="productimage"/>
				<span id="productquote">"Makes invoices a breeze"</span>
			</div>
		</header>
		<article>
			<div class="content-wrap">
				<h1>PaperFan</h1>
				<h2>Receipt building made easy</h2>
				<h3>It changed my life forever!</h3>
				<p>Just a note for anyone who stumbles across this, I just moved GitHub accounts, and I've decided to make a proper website, but most of this stuff is just placeholder stuff from another project. I should get it cleaned up soon.<p>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel sollicitudin ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque vehicula facilisis ligula nec ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, nisl vitae iaculis mollis, mi tortor dictum felis, scelerisque tincidunt libero est a ligula. Nullam hendrerit libero sit amet justo iaculis, viverra lacinia risus volutpat. Praesent eleifend erat ac nisi semper posuere. Cras sagittis ex volutpat, mollis lectus non, sodales neque.</p>
				
				<p>Morbi viverra luctus metus vel efficitur. Phasellus eget diam sit amet erat sollicitudin euismod. Nunc ut justo iaculis, mattis erat id, faucibus ligula. Nam magna augue, iaculis vel turpis id, dictum pharetra felis. Pellentesque lobortis orci orci. Nulla posuere orci ut dui euismod placerat. In laoreet, enim a iaculis suscipit, libero nisi tempor mauris, a efficitur sem eros ac augue. Fusce non gravida augue. Aliquam non hendrerit justo, rhoncus molestie eros. Vestibulum ornare, purus at auctor placerat, sem orci suscipit nulla, id fringilla enim augue non purus. Donec a lorem vel tortor vehicula porttitor quis et sapien.</p>
				
				<p>Donec at ex id neque consectetur mattis quis eu ex. Vivamus nec lobortis velit. Mauris id sagittis augue, ac condimentum tortor. Pellentesque non erat eget libero gravida tincidunt. Nullam vitae velit luctus, accumsan elit et, egestas leo. Maecenas iaculis lorem eu eros tincidunt, ut dapibus ante vulputate. Praesent in finibus risus. Vestibulum pellentesque enim commodo, venenatis ligula quis, venenatis sem.</p>
			</div>
        </article>
		{% include footer.html %}
    </body>
</html>