@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,600);

html {
    background-color: whitesmoke;
}
body {
    text-align: center;
    font-family: "Helvetica Neue","Arial","Liberationsans","Freesans",sans-serif;
	font-size: 1em;
    font-weight: 400;
    padding: 0;
    border: 0;
    margin: 0;
}
header {
	display: inline-block;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	font-size: 1.2em;
	vertical-align: 35%;
	width: 100%;
	/*background-color: slategray;*/
}
main {
    background-color: whitesmoke;
    padding: 0px;
    padding-top: 5em;
    display: inline-block;
    width: 100%;
}
article {
	padding: 0px;
}
footer {
	font-weight: 500;
	font-size: 1.0em;
    color: #99999c;
	margin-top: 10px;
    margin-bottom: 10px;
}
a {
    color: #6666aa;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
hr {
    height: 1px;
    padding: 0px;
    border: none;
    color: slategray;
    margin: 0;
}
h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 3em;
    margin-top: 0px;
    margin-bottom: 0em;
}
h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 1.6em;
	color: darkslategray;
	margin-top: 0px;
	margin-bottom: 1.4em;
}
h3 {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 1.4em;
    margin: 0;
    margin-top: 0.8em;
	color: #313132;
}
p {
	font-weight: 400;
	font-size: 1.2em;
	line-height: 150%;
	margin-top: 0px;
    margin-bottom: 1em;
    color:#333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 150%;
    color:#333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
li {
    margin-bottom: 15px;
}
table {
    font-size: 1.2em;
    font-weight: 300;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-spacing: 0px;
}
th {
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    color: white;
    background-color: #99999c;
}
td {
    padding: 5px;
    font-weight:400;
    color: #333;
    background-color: #e3e3e6;
}
code {
    padding: 0 .5em 0 .5em;
    border: 1px solid #c3c3c6;
    background-color: #e3e3e6;
	border-radius: 4px;
	color: darkslategray;
    display: inline-block;
    line-height: 140%;
    font-weight: 600;
}
pre {
    width: auto;
    max-width: 90%;
    overflow: auto;
    background-color: #e3e3e6;
    border-radius: 4px;
    margin: 2em 2em;
    padding: 1em 1.5em;
    border: 1px solid #c3c3c6;
}
pre>code {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0px;
    font-size: 1.1em;
    color: darkslategray;
    background-color: transparent;
}
.nolinkstyle {
    text-decoration: none;
    color: inherit;
}
.nolinkstyle:hover {
    text-decoration: none;
}
.button {
    background-color: #99999c;
    color: white;
    padding: 10px;
    font-size: 1.3em;
    border-bottom: solid 3px #66666c;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}
.button:hover {
    background-color: #aaaab5;
}
.button:active {
    background-color: #99999c;
    border-bottom: solid 3px #99999c;
}
.buttonicon {
    background-image: url("/img/arrow-down.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 9px 11px;
    padding-left: 40px;
}
.highlight {
    margin: 0 2em;
    padding: 1em 1.5em;
    border: 1px solid #c3c3c6;
    overflow: auto;
    border-radius: 4px;
    font-size: 1.1em;
    color: darkslategray;
    background-color: #e3e3e6;
}
.content-wrap {
	text-align: left;
	width: 70%;
	margin: auto;
    margin-bottom: 0;
}
.leftalign {
    text-align: left;
}
.rightalign {
    text-align: right;
}
.centeringhorizontalouter {
    display: block;
    overflow: scroll;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.centeringhorizontal {
    text-align: center;
    white-space: nowrap;
}
.centering {
    text-align: center;
}
.leftfloat {
    float: left;
}
.rightfloat {
    float: right;
}
.autoScaleImage {
    height: auto;
    width: auto;
    max-width: 100%;
}
nav {
    position: fixed;
    background-color: #e3e3e6;
    display: block;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    top: 0px;
    text-align: left;
    z-index: 99;
    -webkit-font-smoothing: subpixel-antialiased;
}
nav ul {
    list-style: none;
    position: relative;
    font-size: 1em;
    line-height: initial;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;
}
nav li {
    display: inline-block;
    float: left;
    height: 50px;
    margin: 0;
    padding: 0;
}
nav li>ul {
    position: absolute;
    visibility: hidden;
    display: list-item;
}
nav li>ul>li {
    display: list-item;
    float: none;
}
nav ul>li:hover>ul, ul>li:hover .dropdownnode {
    visibility: visible;
    background-color: #bbbbc5;
}
.navigation {
    transition: .2s ease-in-out;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-weight: 700;
    font-size: 1.2em;
    color: darkslategray;
    text-decoration: none;
    border-top: 4px solid transparent;
    padding: 8px 10px 0px 10px;
    height: 100%;
    list-style: none;
}
.navigation:hover {
    transition: .2s ease-in-out;
    background-color: #bbbbc5;
    color: #313132;
    text-decoration: none;
}
#title {
    transition: .2s ease-in-out;
    vertical-align: middle;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 2.5em;
    text-decoration: none;
    color: darkslategray;
    padding: 2px 10px 0px 10px;
    border: 0;
    height: 100%;
    box-sizing: border-box;
}
#title:hover {
    transition: .2s ease-in-out;
    background-color: #bbbbc5;
    color: #313132;
}
.dropdownitem {
    transition: 0s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    display: inline-block;
    font-weight: 700;
    font-size: 1em;
    color: darkslategray;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #bbbbc5;
}
.dropdownitem:hover {
    transition: 0s ease-in-out;
    background-color: #aaaab5;
    color: #313132;
}
body#blog .navigation#blog {
	border-top: 4px solid slategray;
}
body#projects .navigation#projects {
    border-top: 4px solid slategray;
}
body#about .navigation#about {
    border-top: 4px solid slategray;
}
.featuredproject {
    transition: 0.1s ease-in-out;
    width: 48%;
    border-radius: 10px;
    max-height: 500px;
    max-width: 800px;
}
.featuredproject:hover {
    opacity: 0.9;
}
.lessfeaturedproject {
    transition: 0.1s ease-in-out;
    width: 180px;
    border-radius: 10px;
}
.lessfeaturedproject:hover {
    opacity: 0.9;
}
#latestpost {
    background-color: #e3e3e6;
    padding: 1em 0;
}
#latesttitle {
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0.8em;
}
#aboutphoto {
    height: 250px;
    width:250px;
    margin-left: 20px;
    float: right;
}
/* Blog Posts */
.postblock {
    transition: 0.1s ease-in-out;
    padding: 0.25em 2em;
    margin: 1em 0;
    border-radius: 6px;
    text-decoration: none;
}
.postblock:hover {
    transition: 0.1s ease-in-out;
    padding: 0.25em 2em;
    margin: 1em 0;
    transform: scale(1.01,1.01);
    -ms-transform: scale(1.01,1.01);
    -moz-transform: scale(1.01,1.01);
    -webkit-transform: scale(1.01,1.01);
    background-color: white;
    text-decoration: none;
}
.postblock:active {
    transition: 0.05s ease-in-out;
    padding: 0.25em 2em;
    margin: 1em 0;
    transform: scale(1,1);
    -ms-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    text-decoration: none;
}
.date {
    color: slategray;
    margin-bottom: 1em;
}
.postimage {
    height: 150px;
    display: inline-block;
    float: left;
    padding: 5px 5px 5px 0;
}
div.imagepost {
    min-height: 260px;
}
body#blog>main>div>article>p>img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
#postheaderimageblock {
    font-size: 0;
    position: relative;
    overflow: hidden;
}
#postheaderimagebackgroundblock {
    position: absolute;
    width: 100%;
    background-size: 100%;
    background-position: center center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transform: scale(1.1, 1.1);
}
div#article>div>div>div>img {
    visibility: hidden;
}

/* Pagination */
.pagination {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    text-align: center;
    background-color: #e3e3e6;
    height: 50px;
}
.postnav {
	transition: .2s ease-in-out;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-weight: 400;
    color: darkslategray;
	text-decoration: none;
	padding: 12px 10px 0px 10px;
    height: 100%;
}
.postnav:hover {
	transition: .2s ease-in-out;
	background-color: #bbbbc5;
	color: #313132;
    text-decoration: none;
}
.postnavinactive {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-weight: 400;
    color: darkslategray;
    text-decoration: none;
    padding: 12px 10px 0px 10px;
    height: 100%;
    opacity: 0.5;
}
.page_number {
    display: inline-block;
    margin-top: 14px;
}
#navback {
    float: left;
}
#navforward {
    float: right;
}
#previous {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
    height: 28px;
	vertical-align: -40%;
	padding-left: 4px;
}
#next {
    height: 28px;
	vertical-align: -40%;
	padding-left: 4px;
}
/* Media Query Differences */
@media screen and (max-width: 667px),
screen and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2),
screen and (max-width: 667px) and (min-device-pixel-ratio: 2) {
    nav {
        height: 82px;
        position: absolute;
    }
    nav li {
        height: auto;
    }
    nav li:first-child {
        width: 100%;
    }
    nav li>ul {
        position: absolute;
        visibility: hidden;
        display: list-item;
    }
    nav li>ul>li {
        display: list-item;
        float: none;
    }
    nav ul>li:hover>ul {
        visibility: hidden;
    }
    .navigation {
        padding: 6px 10px 9px 10px;
    }
    #title {
        width: 100%;
        height: auto;
        font-weight: 300;
        font-size: 2em;
        text-decoration: none;
        text-align: center;
    }
    p>img {
        width: 100%;
    }
    .content-wrap {
        text-align: left;
        width: 98%;
    }
    .autoScaleImage {
        max-width: 100%;
    }
    .featuredproject {
        width: 90%;
    }
    #aboutphoto {
        height: 100px;
        width:100px;
        margin-left: 10px;
        float: right;
    }
    .postnav {
        height: 100%;
        font-size: 0;
    }
    div.postblock>img.postimage+p {
        width: 100%;
    }
    footer>.content-wrap {
        font-size: 1.0em;
        text-align: left;
    }
    h1 {
        font-size: 2.1em;
    }
    p {
        font-size:1.0em;
    }
    pre {
        width: auto;
        max-width: 100%;
        overflow: auto;
        background-color: #e3e3e6;
        border-radius: 4px;
        margin: 2em 0em 2em 0em;
        padding: 1em 0em;
        border: 1px solid #c3c3c6;
    }
    code {
        padding: 0 0.5em 0 .5em;
        border: 1px solid #c3c3c6;
        background-color: #e3e3e6;
        border-radius: 4px;
        color: darkslategray;
        display: inline-block;
        line-height: 140%;
        font-weight: 600;
        max-width: 95%;
        overflow: scroll;
        margin-bottom: -5px;
    }
    pre>code {
        margin: 0;
        padding: 0 0.5em 0 0.5em;
        border: none;
        border-radius: 0px;
        color: darkslategray;
        background-color: transparent;
        max-width: 95%;
        font-size: 0.9em;
        overflow: auto;
    }
    footer>.content-wrap>.rightfloat {
        float: left;
        text-align: left;
    }
    #postheaderimageblock {
        font-size: 0;
        position: relative;
        overflow: hidden;
    }
    #postheaderimagebackgroundblock {
        position: absolute;
        width: 100%;
        display: none;
    }
}
@media screen and (max-width: 667px) and (orientation: landscape),
screen and (max-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
screen and (max-width: 667px) and (orientation: landscape) and (min-device-pixel-ratio: 2) {
    p {
        font-size:0.7em;
    }
    #featuredproject {
        width: 48%;
    }
    footer {
        font-size: 0.8em;
        text-align: left;
    }
    #postheaderimageblock {
        font-size: 0;
        position: relative;
        overflow: hidden;
    }
    #postheaderimagebackgroundblock {
        position: absolute;
        width: 100%;
        display: none;
    }
}
@media screen and (min-width: 667px) and (orientation: landscape),
screen and (min-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 667px) and (orientation: landscape) and (min-device-pixel-ratio: 2) {
    p>img {
        max-width: 80%;
    }
}
@media screen and (min-width: 736px) and (orientation: landscape),
screen and (min-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 736px) and (orientation: landscape) and (min-device-pixel-ratio: 2) {
    p>img {
        width: auto;
        max-width: 100%;
    }
}
