@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,600);
/*@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700italic,700,300italic);*/

html {
    background-color: whitesmoke;
}
body {
    text-align: center;
    font-family: "Helvetica Neue","Arial","Liberationsans","Freesans",sans-serif;
	font-size: 1em;
    font-weight: 400;
    padding: 0;
    border: 0;
    margin: 0;
}
nav {
    position: fixed;
	background-color: #e3e3e6;
	display: block;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	top: 0px;
	text-align: left;
    z-index: 99;
}
header {
	display: inline-block;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	font-size: 1.2em;
	vertical-align: 35%;
	width: 100%;
	/*background-color: slategray;*/
}
main {
    background-color: whitesmoke;
    padding: 0px;
    margin-top: 5em;
    display: inline-block;
    width: 100%;
}
article {
	padding: 0px;
}
footer {
	font-weight: 500;
	font-size: 1.0em;
    color: #99999c;
	margin-top: 10px;
    margin-bottom: 10px;
}
a {
    color: #6666aa;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
hr {
    height: 1px;
    padding: 0px;
    border: none;
    color: slategray;
    margin: 0;
}
h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 3em;
    margin-top: 0px;
    margin-bottom: 0em;
}
h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 1.6em;
	color: darkslategray;
	margin-top: 0px;
	margin-bottom: 1.4em;
}
h3 {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 1.4em;
    margin: 0;
    margin-top: 0.8em;
	color: #313132;
}
p {
	font-weight: 400;
	font-size: 1.2em;
	line-height: 150%;
	margin-top: 0px;
    margin-bottom: 1em;
}
ul {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 150%;
}
li {
    margin-bottom: 15px;
}
code {
    padding: 0 .5em;
    border: 1px solid #c3c3c6;
    background-color: #e3e3e6;
	border-radius: 4px;
	color: darkslategray;
    display: inline-block;
}
pre {
    width: auto;
    max-width: 90%;
    overflow: auto;
    background-color: #e3e3e6;
    border-radius: 4px;
    margin: 2em 2em;
    padding: 1em 1.5em;
    border: 1px solid #c3c3c6;
}
pre>code {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0px;
    font-size: 1.1em;
    color: darkslategray;
    background-color: transparent;

}
.nolinkstyle {
    text-decoration: none;
    color: inherit;
}
.nolinkstyle:hover {
    text-decoration: none;
}
.highlight {
    margin: 0 2em;
    padding: 1em 1.5em;
    border: 1px solid #c3c3c6;
    overflow: auto;
    border-radius: 4px;
    font-size: 1.1em;
    color: darkslategray;
    background-color: #e3e3e6;
}
.content-wrap {
	text-align: left;
	width: 70%;
	margin: auto;
    margin-bottom: 0;
}
.leftalign {
    text-align: left;
}
.rightalign {
    text-align: right;
}
.centering {
    text-align: center;
}
.leftfloat {
    float: left;
}
.rightfloat {
    float: right;
}
.navigation {
	transition: .2s ease-in-out;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-weight: 700;
	font-size: 1.2em;
	color: darkslategray;
	text-decoration: none;
	border-top: 4px solid transparent;
	padding: 8px 10px 0px 10px;
	height: 100%;
}
.navigation:hover {
	transition: .2s ease-in-out;
	border-top: 4px solid slategray;
	background-color: #bbbbc5;
	color: #313132;
	text-decoration: none;
}
body#blog .navigation#blog {
	border-top: 4px solid slategray;
}
body#about .navigation#about {
    border-top: 4px solid slategray;
}
#title {
	transition: .2s ease-in-out;
	display: inline-block;
	vertical-align: middle;
    font-family: "Raleway", sans-serif;
	font-weight: 200;
    font-size: 2.5em;
	text-decoration: none;
	color: darkslategray;
	padding: 0px 10px 0px 10px;
	height: 100%;
    box-sizing: border-box;
}
#title:hover {
	transition: .2s ease-in-out;
	background-color: #bbbbc5;
	color: #313132;
}
#featuredproject {
    transition: 0.1s ease-in-out;
    width: 70%;
    border-radius: 10px;
}
#featuredproject:hover {
    opacity: 0.9;
}
#latestpost {
    background-color: #e3e3e6;
    padding: 1em 0;
}
#latesttitle {
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0.8em;
}
#aboutphoto {
    height: 250px;
    width:250px;
    margin-left: 20px;
    float: right;
}
/* Blog Posts */
.postblock {
    transition: 0.1s ease-in-out;
    padding: 0.25em 2em;
    margin: 1em 0;
    border-radius: 6px;
    text-decoration: none;
}
.postblock:hover {
    transition: 0.1s ease-in-out;
    padding: 0.25em 2em;
    margin: 1em 0;
    transform: scale(1.01,1.01);
    -ms-transform: scale(1.01,1.01);
    -moz-transform: scale(1.01,1.01);
    -webkit-transform: scale(1.01,1.01);
    background-color: white;
    text-decoration: none;
}
.postblock:active {
    transition: 0.05s ease-in-out;
    padding: 0.25em 2em;
    margin: 1em 0;
    transform: scale(1,1);
    -ms-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    text-decoration: none;
}
.date {
    color: slategray;
    margin-bottom: 1em;
}
/* Pagination */
.pagination {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    text-align: center;
    background-color: #e3e3e6;
    height: 50px;
}
.postnav {
	transition: .2s ease-in-out;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-weight: 400;
    color: darkslategray;
	text-decoration: none;
	padding: 12px 10px 0px 10px;
    height: 100%;
}
.postnav:hover {
	transition: .2s ease-in-out;
	background-color: #bbbbc5;
	color: #313132;
    text-decoration: none;
}
.postnavinactive {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-weight: 400;
    color: darkslategray;
    text-decoration: none;
    padding: 12px 10px 0px 10px;
    height: 100%;
    opacity: 0.5;
}
.page_number {
    display: inline-block;
    margin-top: 14px;
}
#navback {
    float: left;
}
#navforward {
    float: right;
}
#previous {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
    height: 28px;
	vertical-align: -40%;
	padding-left: 4px;
}
#next {
    height: 28px;
	vertical-align: -40%;
	padding-left: 4px;
}
/* Media Query Differences */
@media screen and (max-width: 568px),
screen and (max-width: 1136px) and (-webkit-min-device-pixel-ratio: 2),
screen and (max-width: 1136px) and (min-device-pixel-ratio: 2){
    nav {
        height: 80px;
        position: absolute;
    }
    #title {
        width: 100%;
        height: auto;
        font-weight: 300;
        font-size: 2em;
        text-decoration: none;
        text-align: center;
    }
    p>img {
        width: 100%;
    }
    .content-wrap {
        text-align: left;
        width: 98%;
    }
    #featuredproject {
        width: 90%;
    }
    #aboutphoto {
        height: 100px;
        width:100px;
        margin-left: 10px;
        float: right;
    }
    .postnav {
        height: 100%;
        font-size: 0;
    }
    footer {
        float: center !important;
        text-align: center !important;
    }
    p {
        font-size:1.0em;
    }
    .rightfloat {
        float:left;
    }
}
@media screen and (max-width: 568px) and (orientation: landscape),
screen and (max-width: 1136px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
screen and (max-width: 1136px) and (orientation: landscape) and (min-device-pixel-ratio: 2) {
    p {
        font-size: 0.7em;
    }
}
