---

---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Carson Shook - About</title>
        {% include head.html %}
    </head>
    <body id="about">
        {% include navigation.html %}
        <main>
            <div class="content-wrap">
                <br>
                <img src="../img/CarsonShook500.png" id="aboutphoto" />
                <p>Carson Shook is a software developer currently living and working in Oklahoma.</p>
                <p>He has been working professionally in police technology development for four years and maintains the ideal that software should be freely available for anyone where possible, and easily affordable where not. He's a fan of animation and enjoys Dungeons &amp; Dragons with friends on the weekends.</p>
                <p>He enjoys graphic design work, PC gaming, and anthropomorphism.</p>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>
