<!DOCTYPE html>
<html>
	<head>
		<!--<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">-->
		<title>Carson Shook</title>
		<link rel="stylesheet" href="http://carson-shook.github.io/style1.css">
			</head>
	<body id="index">
		<nav id="topnav">
			<a href="index.html" id="title">CARSON SHOOK</a><!--
															 <a href="#" class="navigation">Projects ▾</a><!--
															 --><a href="#" class="navigation">Blog</a><!--
																										--><a href="#" class="navigation">Contact</a><!--
																																					  <a href="https://github.com/Carson-Shook" class="navigation" id="github">Fork me on GitHub</a>-->
		</nav>
		<header>
			<div class="content-wrap">
				<img src="paperfan_512x512.png" width="250px" height="250px" id="productimage"/>
				<span id="productquote">"Makes invoices a breeze"</span>
			</div>
		</header>
		<article>
			<div class="content-wrap">
				{{ content }}
			</div>
		</article>
		<footer>
			Hosted on
			<a href="http://github.com/carson-shook/"><img src="footer-logo.png" id="githubfooter"/></a>
		</footer>
	</body>
</html><--!{% include navigation.html %}{% include footer.html %}-->
