---
layout: default
---

<div class="content">    
	{% include post_header.html %}
    {{ content }}
	{% if page.previous.url %}
		<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}" class="postnav"><img src="../img/arrow.png" id="previous" />{{page.previous.title}}</a>
	{% endif %}
	{% if page.next.url %}
		<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}" class="postnav">{{page.next.title}}<img src="../img/arrow.png" id="next" /></a>
	{% endif %} </p>
</div>
    
